# Copyright (c) 2024
# SPDX-License-Identifier: MIT

if BOARD_NICE_NANO_V2

config BOARD
	default "nice_nano_v2"

config ZMK_KEYBOARD_NAME
	default "nice!nano v2"

if USB_DEVICE_STACK

config USB_NRFX
	default y

endif # USB_DEVICE_STACK

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

config ZMK_BATTERY_VOLTAGE_DIVIDER
	default y

endif # BOARD_NICE_NANO_V2
