name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: zmkfirmware/zmk-build-arm:stable
    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache west modules
        uses: actions/cache@v4
        env:
          cache-name: cache-zephyr-modules
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('config/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: West Init
        run: west init -l config

      - name: West Update
        run: west update

      - name: West Zephyr export
        run: west zephyr-export

      - name: West Build (Left)
        run: west build -s zmk/app -b nice_nano -- -DSHIELD=charybdis_left -DZMK_CONFIG="${GITHUB_WORKSPACE}/config"

      - name: Rename Left artifact
        run: cp build/zephyr/zmk.uf2 charybdis_left-nice_nano-zmk.uf2

      - name: West Build (Right)
        run: |
          rm -rf build
          west build -s zmk/app -b nice_nano -- -DSHIELD=charybdis_right -DZMK_CONFIG="${GITHUB_WORKSPACE}/config"

      - name: Rename Right artifact
        run: cp build/zephyr/zmk.uf2 charybdis_right-nice_nano-zmk.uf2

      - name: West Build (Settings Reset)
        run: |
          rm -rf build
          west build -s zmk/app -b nice_nano -- -DSHIELD=settings_reset -DZMK_CONFIG="${GITHUB_WORKSPACE}/config"

      - name: Rename Settings Reset artifact
        run: cp build/zephyr/zmk.uf2 settings_reset-nice_nano-zmk.uf2

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: |
            charybdis_left-nice_nano-zmk.uf2
            charybdis_right-nice_nano-zmk.uf2
            settings_reset-nice_nano-zmk.uf2
